{% extends 'pages/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Список торгових інструментів</h1>
    
    {% if assets %}
        {% for asset in assets %}
            <div class="asset-card">
                <h3>{{ asset.title }} ({{ asset.ticker }})</h3>
                <p>Категорія: {{ asset.category.title }}</p>
                <p>Ціна: <b>${{ asset.price }}</b></p>
                <button>Детальніше</button>
            </div>
        {% endfor %}
    {% else %}
        <p>Активів поки немає в базі даних.</p>
    {% endif %}
{% endblock %}