{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <h1>{{ title|default:"Каталог інструментів" }}</h1>
</div>

<div class="categories-container">
    <a href="{% url 'home' %}" class="btn-custom btn-warning-custom">Всі активи</a>
    {% for cat in categories %}
        <a href="{% url 'category_filter' cat.id %}" class="btn-custom btn-warning-custom">{{ cat.title }}</a>
    {% endfor %}
</div>

<div class="cards-grid">
    {% for asset in assets %}
        <a href="{% url 'assets_detailed' asset.id %}" class="clickable-card">
            <div class="card-smc">
                <div style="display: flex; align-items: center; gap: 20px;">
                    {% if asset.image %}
                        <div class="card-image-wrapper">
                            <img src="{{ asset.image.url }}" alt="{{ asset.title }}" class="card-image">
                        </div>
                    {% endif %}
                    
                    <div class="card-text-block">
                        <h2>{{ asset.title }}</h2>
                        <p class="asset-ticker">{{ asset.ticker }}</p>
                        <p class="asset-category">Категорія: {{ asset.category.title }}</p>
                    </div>
                </div>
                
                <h3 class="asset-price">${{ asset.dynamic_price }}</h3>
            </div>
        </a>
    {% empty %}
        <div class="empty-state">
            <p>Активи не знайдені.</p>
        </div>
    {% endfor %}
</div>
{% endblock %}