{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <h1>Мій Watchlist</h1>
</div>

<div class="back-link-container">
    <a href="{% url 'home' %}" class="btn-custom btn-primary-custom">← Повернутися на головне меню</a>
</div>

<div class="cards-grid">
    {% for asset in assets %}
        <a href="{% url 'assets_detailed' asset.id %}" class="clickable-card">
            <div class="card-smc">
                <div style="display: flex; align-items: center; gap: 20px;">
                    {% if asset.image %}
                        <div class="card-image-wrapper">
                            <img src="{{ asset.image.url }}" alt="{{ asset.title }}" class="card-image">
                        </div>
                    {% endif %}
                    
                    <div class="card-text-block">
                        <h2>{{ asset.title }}</h2>
                        <p class="asset-ticker">{{ asset.ticker }}</p>
                    </div>
                </div>
                
                <div style="text-align: right; display: flex; flex-direction: column; align-items: flex-end; gap: 10px;">
                    <h3 class="asset-price">${{ asset.dynamic_price }}</h3>
                    <object>
                        <a href="{% url 'remove_from_watchlist' asset.id %}" class="btn-custom btn-danger-custom">Видалити</a>
                    </object>
                </div>
            </div>
        </a>
    {% empty %}
        <div class="empty-state">
            <p>Ваш кошик поки що порожній.</p>
            <a href="{% url 'home' %}" class="btn-custom btn-warning-custom">Перейти до каталогу</a>
        </div>
    {% endfor %}
</div>
{% endblock %}