{% extends 'pages/base.html' %}

{% block content %}
<div class="page-header">
    <h1>Пароль змінено</h1>
</div>

<div class="auth-wrapper">
    <div class="card-smc auth-card-wide border-success">
        <div class="auth-form">
            <h2 class="auth-title-success">Вітаємо!</h2>
            <p class="auth-spacing-bottom">Ваш пароль було успішно змінено. Тепер ви можете увійти у свій обліковий запис, використовуючи нові дані.</p>
            
            <a href="{% url 'login' %}" class="btn-custom btn-success-custom">Увійти в систему</a>
        </div>
    </div>
</div>
{% endblock %}