{% extends 'pages/base.html' %}

{% block content %}
<div class="page-header">
    <h1>Лист відправлено</h1>
</div>

<div class="auth-wrapper">
    <div class="card-smc auth-card-wide border-success">
        <div class="auth-form">
            <h2 class="auth-title-success">Перевірте пошту</h2>
            <p>Ми надіслали інструкції зі встановлення нового пароля на вказану вами електронну адресу.</p>
            <p class="auth-text-muted">(Якщо ви не отримали лист, перевірте папку "Спам")</p>
            
            <a href="{% url 'home' %}" class="btn-custom btn-success-custom">Повернутися на головну</a>
        </div>
    </div>
</div>
{% endblock %}